*{
  margin: 0;
}

body{
  background-color: #f5f6fa;
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1{
  color:#ff7b89;
  font-size: 2rem;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 20px;
}

.app_first_row{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  background-color: transparent;
  padding: 20px;
  margin:20px;
}
.app__dropdown{
  background-color: #fff;
  flex:0.2;
  float: right;
}

@media(max-width: 990px){
  .app_first_row{
    flex-direction: column;
  }
}

.app__left{
  flex:0.8;
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.app_graph{
  flex-grow:1;
}

.app__right{
  display:flex;
  flex-direction: column;
  flex:0.8;

}
.app__right .MuiCardContent-root{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__bottom__left{
  display:flex;
  /* flex-direction: row; */
  justify-self:center;
  height: 110vh;
  flex:0.8
  /* margin-left: 40px;
  margin-right: 40px; */
}

.app__graphTitle{
  margin-top:15px;
  margin-bottom: 10px;
  color:#404040;
} 

h3{
  color: #444;
}