.table{
    margin-top:20px;
    overflow: scroll;
    height: 400px;
    background-color: transparent;
    color:#444;
    border: 1px solid #eee;
    border-radius: 3px;
    padding:5px;

}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color: rgba(238,238,238,0.5);
}
